* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin-top: 80px;
	margin-bottom: 40px;
}

.base-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: grey;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.base-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: grey;
	height: 40px;
}


.base-title {
	display: inline-block;
	color: orange;
	padding: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 70px;
	font-size: 250%;
}

.base-main {
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}

.base-menu-icon {
	display: inline-block;
	float: right;
	width: 70px;
	height: 70px;
	margin: auto;
}

.base-menu-icon-style {
	color: orange;
	cursor: pointer;
    text-align: center;
	font-size: 50px;
	margin: 10px;
}


.base-popup {
	width: 400px;
	background-color: grey;
	color: orange;
	position: fixed;
	border: 1px solid orange;  
	visibility: hidden;
}	

.base-menu-header {
	background-color: orange;
	color: grey;
	padding: 5px;
	height: 30px;
}

.base-menu-header-text {
	color: grey;
	font-size: 20px;
	text-align: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.base-menu-body {
	overflow: auto;
}

.base-menuitem {
	height: 30px;
	margin: 2px;
	padding: 2px;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	font-size: 16px;
}

.base-menuitem-top {
	border-color: orange;
	background-color: grey;
	color: orange;
}

.base-menuitem-container {
	position: relative;
}

.base-menuitem-expander {
	position: absolute;
	right: 10px;
	cursor: pointer; 
}

.base-menuitem-subcontainer {
	display: none;
}

.base-menuitem-subitem {
	border-width: 1px;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}

