* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin-top: 80px;
	margin-bottom: 40px;
}

.softsprocket-menu-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: grey;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.softsprocket-status-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: grey;
	height: 40px;
}

.softsprocket-main {
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}

.softsprocket-title-box {
	display: inline-block;
	color: limegreen;
	padding: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 70px;
	font-size: 250%;
}

.softsprocket-menu-box {
	display: inline-block;
	float: right;
	line-height: 70px;
	padding: 5px 10px 5px 10px;
	color: limegreen;
	cursor: pointer;
}

.softsprocket-floating-menu {
	width: 400px;
	background-color: grey;
	color: limegreen;
	position: fixed;
	border: none;  
}	

.softsprocket-floating-menu-scrollable {
	overflow: auto;
}

.softsprocket-floating-header {
	width: 100%;
	background-color: limegreen;
	color: grey;
	position: relative;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid limegreen;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	line-height: 40px;

}

.softsprocket-header-text {
	font-weight: bold;
}

.softsprocket-close-icon {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.softsprocket-floating-menu-element {
	background-color: grey;
	color: limegreen;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
}

.softsprocket-floating-text-element {
	background-color: grey;
	color: limegreen;
	padding-left: 0px;
}

.softsprocket-submenu-indicator {
	background-color: grey;
	color: limegreen;
	float:right;
}

.softsprocket-floating-footer {
	width: 100%;
	position: relative;
	vertical-align: bottom;
	background-color: grey;
	color: limegreen;
	border-bottom: 1px solid limegreen;
	padding: 5px 10px 5px 10px;
	line-height: 30px;
}

.softsprocket-footer-tool-span {
	position: absolute;
	right: 10px;
	line-height: 30px;
	background-color: grey;
	color: limegreen;
	
}

.softsprocket-footer-info {
	line-height: 30px;
	background-color: grey;
	color: limegreen;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

.softsprocket-inputwin-content {
	width: 100%;
	background-color: grey;
	color: limegreen;
	padding: 10px 0px 0px 10px;

}

.softsprocket-login-label {
	width: 20%;
}

.softsprocket-login-input {
	width: 80%;
	position: absolute;
	right: 10px;
}

.softsprocket-input-div {
	line-height: 40px;
}
